<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Преглед на задачите</title>

<meta name="Description" content="" />
<meta name="author" content="" />
<meta name="keywords" content="" />

<meta name="robots" content="all,follow" />

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

{% load staticfiles %}

<!-- CSS --> 
<link rel="stylesheet" href="{% static "styles/default.css" %}" type="text/css" media="screen, projection, tv" />
<link rel="stylesheet" href="{% static "styles/print.css" %}" type="text/css" media="print" />

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>

<body id="top">
<div id="wrapper">

	<div class="header">
	<h1><span><a href="">Дискретни разпределения</span></h1>
	<p id="about">Уеб приложение за работа със случайни величини</p>

	<a href="#skip-menu" class="hidden">Skip menu</a> <!-- Skip menu -->
	<div id="menu-box"><ul id="web"><li><a href="#">Ресурси</a></li> <li><a class="active" id="first" href="../">Начало</a></li></ul></div>

	<form class="searching" action="">
		<fieldset>
			<label></label>
				<input type="text" name="as_q" class="search" />
				<input class="hledat" type="submit" name="" value="Търсене" />
		</fieldset>
	</form>
	</div> <!-- Header end -->

<hr class="noscreen" />

<div id="skip-menu"></div>
	<div class="page">
		<div class="col-r">
		<div class="col-r-in">
		<form action="/edit_problem/?problem_id={{ problem.id }}" method="post">
		{% csrf_token %}
		Заглавие: <input type="text" name="problem_title" value="{{ problem.problem_title }}" />
		<br />
		Условие:
		<br />
		<textarea rows="15" cols="75" name="problem_statement">{{ problem.problem_statement }}</textarea>
		<br />
		За решение на задачата се използва:
		<select name="distribution_id" id="distribution">
		<option value="1">Бернулиево разпределение</option>
		<option value="2">Биномно разпределение</option>
		<option value="3">Геометрично разпределение</option>
		<option value="4">Отрицателно биномно разпределение</option>
		<option value="5">Хипергеометрично разпределение</option>
		<option value="6">Поасоново разпределение</option>
		</select>
		<br />
		<label for="parameter1"></label><input type="text" id="parameter1" name="distribution_parameter1" value="{{ problem.distribution_parameter1 }}" />
		<label for="parameter2"></label><input type="text" id="parameter2" name="distribution_parameter2" value="{{ problem.distribution_parameter2 }}" />
		<label for="parameter3"></label><input type="text" id="parameter3" name="distribution_parameter3" value="{{ problem.distribution_parameter3 }}" />
		<br />
		<input type="submit" value="Запази" />
		</form>
		<p>Praesent pharetra, risus non vehicula rutrum, elit dui tincidunt felis, eu iaculis urna dolor non purus. Praesent eget orci. 
		Praesent aliquet. Vestibulum ante <a href="#">ipsum primis</a> in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla purus. 
		Nullam quam enim, congue tempor, gravida id, suscipit eget, magna. Donec urna. Aliquam est purus, condimentum nec, rutrum ac, vulputate sit amet, justo. 
		Etiam dui. Nam vulputate. Maecenas placerat ultricies massa. Nam nisi. Nullam dignissim, odio dignissim accumsan fermentum, sapien magna porttitor orci, 
		non lacinia elit pede id dui. Sed sit amet massa vitae tellus adipiscing laoreet.</p>

<hr class="noscreen" />
<br />

		<h3><span>Latest articles</span></h3>
		<div class="article"><p>Nulla facilisi. Etiam dictum libero et purus. In tincidunt accumsan nibh. Morbi nibh diam, ornare eget, sollicitudin ut, facilisis eu, eros. 
		Vivamus augue. Phasellus non pede. Phasellus massa est, mattis sed, pharetra non, mollis sit amet, purus&hellip;</p>
		<a class="more" href="#">Read more</a>
		</div>

		<div class="article-zebra"><p>Nulla facilisi. Etiam dictum libero et purus. In tincidunt accumsan nibh. Morbi nibh diam, ornare eget, sollicitudin ut, facilisis eu, eros. 
		Vivamus augue. Phasellus non pede. Phasellus massa est, mattis sed, pharetra non, mollis sit amet, purus&hellip;</p>
		<a class="more" href="#">Read more</a>
		</div>

		<div class="article"><p>Nulla facilisi. Etiam dictum libero et purus. In tincidunt accumsan nibh. Morbi nibh diam, ornare eget, sollicitudin ut, facilisis eu, eros. 
		Vivamus augue. Phasellus non pede. Phasellus massa est, mattis sed, pharetra non, mollis sit amet, purus&hellip;</p>
		<a class="more" href="#">Read more</a>
		</div>

		<div class="article-zebra"><p>Nulla facilisi. Etiam dictum libero et purus. In tincidunt accumsan nibh. Morbi nibh diam, ornare eget, sollicitudin ut, facilisis eu, eros. 
		Vivamus augue. Phasellus non pede. Phasellus massa est, mattis sed, pharetra non, mollis sit amet, purus&hellip;</p>
		<a class="more" href="#">Read more</a>
		</div>

<hr class="noscreen" />
<br />

		<h3><span>Newest photos</span></h3>
		<div class="gallery">
		<a href="#"><img src="img/image.jpg" alt="" width="120" height="90" /></a>
		<a href="#"><img src="img/image.jpg" alt="" width="120" height="90" /></a>
		<a href="#"><img src="img/image.jpg" alt="" width="120" height="90" /></a>
		<a href="#"><img src="img/image.jpg" alt="" width="120" height="90" /></a>
		</div>

		</div>
		</div> <!-- Right column end -->

{% include "menu.html" %}

<div class="cleaner">&nbsp;</div>

	</div> <!-- Page end -->

	<div id="footer">
		<ul>
			<li><a href="">Home</a>|</li>
			<li><a href="#">About</a>|</li>
			<li><a href="#">Gallery</a>|</li>
			<li><a href="#">Contact</a></li>
		</ul>

	<p><a href="#" onclick="print();" title="Javascript needed for a Print">Print</a> | <a href="#top">Top</a>&uarr;</p>
	</div> <!-- Footer end -->

</div> <!-- Wrapper end -->

<p id="backlinks"><a href="http://www.pestujemeweb.cz/">PД›stujeme web</a> | visit: <a href="http://www.junglegym.cz/" title="Skluzavky Jungle Gym">Skluzavky</a></p>

<div style="margin: 1em 0 1em 0; text-align: center;">
</div>
</body>
</html>

<script>
	$(function() {
		$("#distribution").val("{{ problem.distribution_id }}");
		$("#distribution").trigger("change");
	});

	$("#distribution").change(function() {
		switch($("#distribution").val()) {
		case '1':
			$("label[for=parameter1]").text("p = ");
			$("label[for=parameter2]").empty();
			$("label[for=parameter3]").empty();
			$("#parameter2").hide();
			$("#parameter3").hide();
			$("#parameter2").val("");
			$("#parameter3").val("");
			break;
		case '2':
			$("label[for=parameter1]").text("n = ");
			$("label[for=parameter2]").text("p = ");
			$("label[for=parameter3]").empty();
			$("#parameter2").show();
			$("#parameter3").hide();
			$("#parameter3").val("");
			break;
		case '3':
			$("label[for=parameter1]").text("p = ");
			$("label[for=parameter2]").empty();
			$("label[for=parameter3]").empty();
			$("#parameter2").hide();
			$("#parameter3").hide();
			$("#parameter2").val("");
			$("#parameter3").val("");
			break;
		case '4':
			$("label[for=parameter1]").text("r = ");
			$("label[for=parameter2]").text("p = ");
			$("label[for=parameter3]").empty();
			$("#parameter2").show();
			$("#parameter3").hide();
			$("#parameter3").val("");
			break;
		case '5':
			$("label[for=parameter1]").text("N = ");
			$("label[for=parameter2]").text("M = ");
			$("label[for=parameter3]").text("n = ");
			$("#parameter2").show();
			$("#parameter3").show();
			break;
		default:
			$("label[for=parameter1]").text("μ = ");
			$("label[for=parameter2]").empty();
			$("label[for=parameter3]").empty();
			$("#parameter2").hide();
			$("#parameter3").hide();
			$("#parameter2").val("");
			$("#parameter3").val("");
		}
	});
</script>