<hr class="noscreen" />

	<div class="col-l">
	<div class="col-l-in">
	<h3>Дискретни разпределения</h3>
		<ul class="menu">
			<li><a href="/bernoulli_distribution">Бернулиево разпределение</a></li>
			<li><a href="/binomial_distribution">Биномно разпределение</a></li>
			<li><a href="/negative_binomial_distribution">Отрицателно биномно разпределение</a></li>
			<li><a href="/geometric_distribution">Геометрично разпределение</a></li>
			<li><a href="/hypergeometric_distribution">Хипергеометрично разпределение</a></li>
			<li><a href="/poisson_distribution">Поасоново разпределение</a></li>
		</ul>

	<h3>Задачи</h3>
		<ul class="menu">
			<li><a href="/problem_list">Преглед на задачите</a></li>
			<li><a href="/add_problem">Добавяне на нова задача</a></li>
		</ul>

	<h3>Случайни величини</h3>
		<ul class="menu">
			<li><a href="/calculator">Калкулатор</a></li>
			<li><a href="/generate_sample">Генериране на извадка</a></li>
			<li><a href="/bivariate_distribution">Съвместно разпределение</a></li>
		</ul>

<br />

	</div>
	</div>